body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #3E97D1;
}

header h1 { 
    color: white;
    line-height: 45px;
    margin: 0px;
}

.work-area { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-sidebar,
.right-sidebar {
    width: 30%;
    border-bottom: 3px solid rgb(42, 121, 158);
}

.left-sidebar {
    padding: 0px 50px 50px 50px;
    border-right: 3px solid rgb(42, 121, 158);
}

.right-sidebar {
    border-left: 3px solid rgb(42, 121, 158);
}

.center-bar {
    margin: auto;
}

.colorSelect__item,
.sizeSelect__item,
.contentSelect__item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
