#button_one {
    width: 0;
    height: 0;
}

.left-sidebar button,
.left-sidebar input {
    width: 48%;   
    border: 2px solid #3F92D2;
}

.left-sidebar input {
    height: 45px;
    background-color: rgb(189, 223, 253);
}

.left-sidebar button {
    height: 49px;
    background-color: white;
}

.rewrite {
    margin-top: 50px;
    width: 98% !important;
}

.work-area {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #3F92D2;
}

body,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
}

.left-sidebar {
    width: 30%;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}

.left-sidebar div {
    margin-top: 10px;
}

.center-bar {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}